*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

input,
input:focus,
input:active {
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

button {
  outline: none;
}
