.maincontainer {
}

.maincontainer-pointer {
  pointer-events: none;
}

.profiledetails {
  color: white;
  width: 35%;
  height: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
  top: 10px;
}

.email {
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
}

.otherdetails {
  font-family: 'Roboto', sans-serif;
  font-size: 5px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.otherdetails1 {
  color: #aea9b4;
}

.otherdetails2 {
  color: #aea9b4;
}

.playlistimage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.vertical-menu {
  color: white;
  cursor: pointer;
}

.playlist-type-btn {
  height: 20px;
  width: 40px;
  font-size: 10px;
  position: absolute;
  border-radius: 18px;
  border: none;
  color: white;
  background: var(--m-3-ref-error-error-60, #e46962);
  bottom: 5px;
  right: 20px;
}

.img2 {
  height: 120px;
  width: 120px;
}

.playlistdetails {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.playlistname {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 12px;
}

.playlistcontent {
  font-family: 'Roboto', sans-serif;
  font-size: 8px;
  color: #aea9b4;
}

.created-updated {
  font-family: 'Roboto', sans-serif;
  font-size: 8px;
  color: #aea9b4;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5px;
}

.likedislike {
  color: white;
  width: 6%;
  display: flex;
  justify-content: space-between;
}

.dislike {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
}

.like {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
}

.addsong {
  width: 90%;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(73, 69, 79, 1);
}

.circle-icon {
  background: #d0bcff;
  border-radius: 100px;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.addsong-name {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding-left: 8px;
  position: relative;
}

.reactions-allowed {
  cursor: pointer;
}

.reactions-allowed:hover {
  color: #d0bcff;
  scale: 1.2;
}

.reaction-btn {
  background-color: inherit;
  border: none;
  color: white;
  font-size: 24px;
}

.reaction-btn__active {
  color: #d0bcff;
  scale: 1.2;
}

@media (max-width: 600px) {
  .maincontainer {
    width: 60%;
    height: 100%;
    gap: 10px;
  }

  .profiledetails {
    width: 80%;
    height: auto;
    top: 0;
  }

  .email {
    font-size: 8px;
  }

  .otherdetails {
    font-size: 4px;
    gap: 6px;
  }

  .playlistimage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .playlistname {
    font-size: 10px;
  }

  .playlistcontent {
    font-size: 6px;
  }

  .created-updated {
    font-size: 6px;
    gap: 3px;
  }

  .likedislike {
    width: 10%;
  }

  .dislike,
  .like {
    font-size: 8px;
  }

  .addsong {
    font-size: 10px;
  }

  .circle-icon {
    size: 16px;
  }
}
