/* .maincontainer {
  background-image: radial-gradient(
      50% 50% at 50% 50%,
      #080a0e 0%,
      #0d1927 100%
    ),
    linear-gradient(180deg, #170d2e 0%, #1f192e 100%);
  width: 100%;
} */
.hidden{
  display: none;
}
.playlst-conatiner-pointer{
  pointer-events: none;
}
.playlist-container {
  height: 95%;
  width: 82%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
      50% 50% at 50% 50%,
      #293755 0%,
      #0d1927 100%
    ),
    linear-gradient(180deg, #170d2e 0%, #1f192e 100%);
  font-family: "Roboto", sans-serif;
}

.playlist-contents {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
}

.playlist-header {
  font-size: 22px;
  color: #ffffff;
}

.playlist-search-wrapper {
  display: flex;
  flex-direction: row;
  background-color: #2b2930;
  border-radius: 28px;
  height: 40px;
}
.playlist-search {
  padding: 0px 15px;
  width: 95%;
  letter-spacing: 1.5px;
}
.playlist-search-img {
  padding: 0px 15px;
  height: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newplaylist-wrapper {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.newplaylist-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #d0bcff;
}
.newplaylist-txt {
  padding: 5px;
  font-size: 12px;
  color: white;
}
.division {
  width: 100%;
  border: 0.05px solid #49454f;
  line-height: 0.5px;
  background: transparent;
}
